body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color:rgba(0, 0, 0, 0.842);
    color: darkgoldenrod
}

.conta-funcoes{
    display: flex;
    gap: 5px;
    flex-direction: column;
    max-width: 200px;
}

.conta-funcoes-form{
    display: none;
    margin: 15px;
}

.conta-funcoes-form h3{
    margin: 5px;
}

.conta-funcoes-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}