{% extends "base.html" %}
{% block content %}
    <h1>Detahes da conta</h1>

    <p> Conta: {{"{:04}".format(conta.id)}}</p>
    <p>Titular: {{conta.titular}}</p>
    <p>Saldo: {{"{:.2f}".format(conta.saldo)}}</p>
    
    <div class="conta-funcoes">
        <button onclick="mostrarDeposito('deposito-form')">Depositar</button>

        <div id="deposito-form" class="conta-funcoes-form">

            <h3>Deposito</h3>

            <form method="POST">
                <input type="hidden" name="acao" value="deposito">
                <label>Valor</label>
                <input type="number" step="0.01" name="valor">
                <button type="submit">Confirmar</button>
            </form>

        </div>

        <button onclick="mostrarDeposito('saque-form')" >Sacar</button>

        <div id="saque-form" class="conta-funcoes-form">

            <h3>Saque</h3>

            <form method="POST">
                <input type="hidden" name="acao" value="saque">
                <label>Valor</label>
                <input type="number" step="0.01" name="valor">
                <button type="submit">Confirmar</button>
            </form>

        </div>

        <button onclick="mostrarDeposito('transferir-form')" >Transferir</button>

        <div id="transferir-form" class="conta-funcoes-form">

            <h3>Transferencia</h3>

            <form method="POST">
                <input type="hidden" name="acao" value="transferencia">
                <label>Conta</label>
                <input type="text" name="destino">
                <label>Valor</label>
                <input type="number" step="0.01" name="valor">
                
                <button type="submit">Confirmar</button>
            </form>

        </div>

    </div>
    {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                        {% for mensagen in mensagens%}
                        <p>{{mensagen}}</p>
                        {%endfor%}
                {%endif%}
        {%endwith%}
    <div>
        <p>Extrato</p>
        <div>
            {% for transacao in conta.extrato %}
            <p>{{transacao}}</p>
            {% endfor %}
        </div>
    </div>
    <a href="{{url_for('logout')}}"><button>Sair</button></a>
    <script>
        function mostrarDeposito(form_id){
            let formulario_selecionado = document.getElementById(form_id);
            let aberto = formulario_selecionado.style.display === "block";

            document.querySelectorAll(".conta-funcoes-form").forEach(formulario => {formulario.style.display = "none"});

            if(!aberto){
                formulario_selecionado.style.display = "block";
            }

            }



    </script>
{% endblock %}