{% extends "base.html" %}

{% block content %}
<nav class="inicio">
        <div class="loguin">
        
        <h1>Sistema Bancário</h1>
        <p>Bem vindo ao Sistema!</p>
        
        
        
                <h2>Loguin</h2>

                <form method="post">


                        <input type = "text" name="usuario" required placeholder="Usuario">
                       
                        <input type="password" name="senha" required placeholder="Senha">
                
                        <button type="submit">Entrar</button>

                </form>

                <h2>Novo Usuario</h2>
                <a href="{{url_for('nova_conta')}}"><button>Criar Conta</button></a>
        </div>
        {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                        {% for mensagen in mensagens%}
                        <p>{{mensagen}}</p>
                        {%endfor%}
                {%endif%}
        {%endwith%}
{% endblock %}
</nav>
