{% extends "base.html" %}
{% block content %}

    <h1>Nova Conta</h1>
    <form method = "POST">

        <label for="titular">
            Nome do Titular
        </label>

        <input type="text" id="titular" name="titular" required>

        <label for="usuario">Usuario</label>

        <input type="text" id="usuario" name="usuario" required>

        <label for="senha">Senha</label>

        <input type="password" id="senha" name="senha" required>
        
        <button type="submit">Criar Conta</button>
    </form>

    
    
{% endblock %}